@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 2vh;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Zilla Slab', monospace;
  width: 100%;
  min-height: 100vh;
  background: #FEF0AA url('background.jpg');
  color: black;
  letter-spacing: 0.1em;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

span {
  opacity: 0;
  transition: opacity 0.01s;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

main {
  height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

#margin {
  width: 100%;
  height: 1px;
  background: rgba(255, 90, 36, 0.8);
  border: none;
  margin: 0;
}

#menu {
  /* height: 50vh; */
  font-size: 2.25rem;
  padding: 2rem 2.5rem 0 2.5rem;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  justify-content: center;
}

#contact {
  font-size: 1.5rem;
  padding: 4rem 2.5rem 2rem 2.5rem;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}

#logo img {
  height: 5rem;
}

#books {
  text-align: center;
}

#books h1 {
  font-weight: 300;
  font-size: 1.75rem;
  padding: 1rem 0 0 0;
}
#books p {
  font-size: 1.5rem;
}

ul#books-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul#books-list li {
  width: 20vw;
  padding: 2rem 3rem;
}

ul#books-list li img {
  width: 100%;
}


@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
